body{
   font-family: 'Montserrat', sans-serif;
   text-align: center;
 }
h1 , h2 , h3 , h4 , h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
/* heading */
.big-heading{
    font-family: 'Montserrat', sans-serif; 
    font-size: 3.5rem;
     line-height: 1.5; 
    font-weight: 900;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}
/* container */
.container-fluid{
    padding: 7% 15%;
 }
 /* sections */
.colored-part{
    background-color: #ff4c68;
    color: #fff;
}
.white-part{
    background-color: white;
}
/* navbar */
.navbar-brand{
    font-size: 2.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}
.nav-item{
    padding:20px;
}
.navbar{
    padding-bottom: 4.5rem;
}
.nav-link{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 100;
}
/* title */
#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}
.iphone-dog{
    width: 18%;
    transform: rotate(25deg);    
    position: absolute;
    right: 30%;
}
.download-button{
    margin: 5px;
}
/* features */
.features-heading{
    font-size: 1.5rem;
}
.features-icon{
    color: #ef8172;
    font-size: 3rem;
    margin-bottom:10px;
}
.features-icon:hover{
    color: #ff4c68;
}
#features{
    position:relative;
    z-index: 1;
}
.features-col{
    padding: 4.5%;
}
.features-para{
    color: #8f8f8f;
    font-size: 1rem;
}
/* testimonial */
.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}
#testimonials {
    background-color: #ef8172;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ef8172;
    padding-bottom: 5%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 40px;
}
/* pricing */
.price-text{
    font-size: 3rem;
    line-height: 1.5;
}
#pricing{
    padding: 100px;
}
.pricing-column{
    padding: 3% 2%;
}
/* cta */
.cta-download-button{
    margin: 1.2%;
}
/* footer */
.footer-text{
    color: #8f8f8f;
}
.social-icons{
    margin: 20px 10px;
}
@media only screen and (max-width: 1028px){
    #title{
        text-align: center;
    }
    .iphone-dog{
        position: static;
        transform: rotate(0);
        width: 60%;
    }
}
